<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include ("partials/head.html") %>

  

</head>

<body>
    
    <%- include ("partials/navigation.html") %>
    <div class="container p-5 animated swing">
        <div class="row text-center text-white">
            <div class="col-lg-6 col-md-6 offset-md-3">
                <p class="h1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste atque odio nam.</p>
                <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officia esse iusto
                    cumque. Quod facere similique nulla magnam deleniti sint nam quasi, necessitatibus corporis ducimus
                    iusto dicta quaerat explicabo qui laboriosam atque est quidem incidunt nisi. Beatae culpa eius
                    alias, voluptatibus nesciunt nemo deserunt at illo aut rerum, vero accusantium totam suscipit et
                    dolorum sunt itaque assumenda! Quod, ipsa odit?</p>
            </div>
        </div>
    </div>
</body>

    <%- include ("partials/foot.html") %>

</html>