
<div class="container footer">
    <footer class="row bg-dark text-white p-5 text-center">
        <div class="col-lg-6 col-md-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="">
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, maiores!</h3>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur, illum eos impedit adipisci voluptates
                quos itaque reiciendis! Similique, quasi quae culpa ut deserunt quo reprehenderit aut expedita libero ratione est
                nisi tempora esse? Tempora dignissimos, cumque totam ab dolorum est temporibus natus modi quas at quis vero numquam
                esse!</h6>
            </div>
            
        </div>
    </footer>
    <div class="row">
        <div class="col-md-12 bg-light text-center p-2">
            <p class="h3">Ejemplo 2020 &copy</p>
        </div>
    </div>
</div>
    
    <!-- Scrips Bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
